.first-view{
    
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
    position: relative;
 

   
    
    .fv-wrap{
        width: 30%;
        height: 214px;
        position:absolute;
        top: 40%;
        left: 8.3%;
        white-space: nowrap;
        margin: 0 ;
        
        
        
        .fv-catch_ja{
           margin: 48px ;
            margin-top: 0;  //打ち消し
            width: 32.6rem;
            height: 48px;
            font: normal normal normal 38px/65px Hiragino Mincho Pro;
            letter-spacing: 3.8px;
            color: #000000;
            opacity: 1;
            @include sp{
                color: white;
            }
        } 
        .fv-catch_en{
            width: 39rem;
            height: 128px;
            font: normal normal normal 38px/128px Zapfino;
            letter-spacing: 3.8px;
            color: #000000;
            opacity: 1;
            @include sp{
                color:#FFF;
            }

        }  
    }






}