header {
    display: flex;
    justify-content: left;
    
    width: 100%;
    padding: 66px 77px;
     position: absolute;
      z-index: 11;
    @include sp{
        display: flex;
        justify-content: space-between;
        width: 1282px;
        background-color: #fff;
    }
}

.hd-logo{
    white-space: nowrap;
    font-size: 3.8rem;
    font-weight: bold;
    min-width: 30rem;
    
}



nav ul {
    
    display: flex;
    justify-content: space-between;
    @include sp{
        display: none;
    }


    li {
        font-size: 1.8rem;
        padding-left: 2rem;
        &:hover{
            text-decoration: underline;
            color: black;
        }
    }
}


.ham{
    display: none;
    @include sp{
        width: 25px;
        height: 14px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 260px;
        span{
            display: inline-block;
            padding-top: 2px;
            width: 100%;
            height: 2px;
            background-color: #3B4043;
            
        }
    }
}
