 #menu{
    &__img{
        width: 100%;
        img {
            width: 100%;
        }
    }

}
.menu_wrap{
    display: flex;
    justify-content: space-between;
    @include sp {
        flex-direction: column;
    }
    
    
}


.menu-item {
     width: 25%;
    

    height: 62.5rem;
    background-color: white;
    background-size: cover;
}

.menu__content{
   position: relative;
   min-height: 210px;
    &__title{
        white-space: nowrap;
        padding:3.2rem ;
        text-align: center;
        font-weight: bold;
        font-size: 3rem;
    }
    &__intro{
        
        font-size: 1.6rem;
        
    }
    &__price{
        font-size: 1.6rem;
        padding-top: 34px;
        padding-bottom: 70px;
        position: absolute;
        top: 98%;
        left: 50%;
    }


}














